.card{
    border: 1px solid #f3f3f3;
    padding: 20px;
    width: 220px;
    border-radius: 40px;
    margin: 15px 15px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
   
    .plus {
        cursor: pointer;
    }
  
    &:hover {
      box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06);
      transform: translateY(-5px);
    }
    .favourite{
      cursor: pointer;
    }
    p{
      color: #9d9d9d;
      font-size: 13px;
      text-transform: uppercase;
      
    }
    b{
      font-size: 13px;
    }
    h5{
      font-weight: 400;
      font-size: 14px;
  
    }
  }